body {
    height: 100vh ;
    background: linear-gradient(#DCB653, #E9DBB7, #E9DBB7);
    margin: 0;
}

.title {
    background-color: rgba(255,255,255,0.5);
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
}
.background-pets {
    background-image: url("https://img.freepik.com/premium-vector/seamless-pattern-kawaii-cute-cats-footprint-card-paper-background_621619-197.jpg?w=2000");
    background-repeat: repeat-x;
    opacity: 0.2;
    width: 100vw;
    height: 718px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.coating {
    background-color: rgba(255,255,255,0.9);
    margin-top: 20px;
    margin-bottom: 20px;
}