body {
    /*background-image: url("img/background.jpg");*/
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100vw;
    height: 100%;
    margin: 0;
    /*background:*/
    /*width: 100vw;*/
    /*height: 100vh;*/
    /*margin: 0;*/
    /*background-repeat: no-repeat;*/
}

.background {
    background: linear-gradient(2900deg, rgb(234, 18, 144), rgb(152, 0, 229), rgb(255, 100, 116)80%);
    width: 100vw;
    height: 47.5vh;
    margin: 0;
    padding-bottom: 30%;
}

.title {
    font-family: 'Sofia Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    cursor: default;
}


.title-left {
    font-size: 22vw;
    display: flex;
    align-items: start;
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to bottom, rgba(241, 241, 241, 0.83), rgba(241, 241, 241, 0.4), rgba(241, 241, 241, 0));
    margin-top: 0;
}

.title-center {
    margin: 0;
    font-size: 11vw;
    writing-mode: vertical-rl;
    display: flex;
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to bottom, rgba(241, 241, 241, 0.83), rgba(241, 241, 241, 0.4), rgba(241, 241, 241, 0));
}

.title-right {
    font-size: 22vw;
    display: flex;
    align-items: start;
    color: rgba(241, 241, 241, 0.70);
}

.title p {
    margin: 0;
    line-height: 0.8;
}

.content {
    width: 100%;
    margin-top: 10%;
    display: flex;
    align-items: center;
}

.info {
    width: 50%;
    font-family: 'DM Serif Display', serif;
    font-weight: lighter;
    font-size: 6vw;
    color: rgba(241, 241, 241, 0.57);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    margin-left: 7%;
}

input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 110px;
    border-radius: 55px/55px;
    margin: 0;
    cursor: pointer;
    background-color: rgba(133, 0, 67, 0.36);
    border: 0;
    font-family: 'DM Serif Display', serif;
    font-weight: lighter;
    font-size: 36px;
    color: rgba(241, 241, 241, 0.5);
    overflow: hidden;
    /*position: absolute;*/
}

input:hover {
    width: 30vw;
    background: rgba(241, 241, 241, 0.28);
    color: rgba(241, 241, 241, 0.86);

}

/*.center p {*/
/*    font-family: 'DM Serif Display', serif;*/
/*    font-weight: lighter;*/
/*    font-size: 4.3vw;*/
/*    color: rgba(241, 241, 241, 0.4);*/
/*    min-height: 10em;*/
/*    display: table-cell;*/
/*    vertical-align: middle;*/
/*    align-items: center;*/
/*}*/
/*.center {*/
/*     margin-left: 7%;*/
/* }*/

/*.warning {*/
/*    font-family: 'DM Serif Display', serif;*/
/*    font-weight: bold;*/
/*    font-size: 6.4vw;*/
/*    color: rgba(241, 241, 241, 0.70);*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    line-height: 0.15;*/
/*    margin-top: 5%;*/
/*}*/

/*.sign-left {*/
/*    font-family: 'Sofia Sans', sans-serif;*/
/*    font-weight: bold;*/
/*    font-size: 4.5vw;*/
/*    color: transparent;*/
/*    text-shadow: 0 0 5px rgba(241, 241, 241, 0.4);*/

/*}*/

/*.in {*/
/*    font-family: 'Sofia Sans', sans-serif;*/
/*    font-weight: bold;*/
/*    font-size: 10vw;*/
/*    color: transparent;*/
/*    text-shadow: 0 0 5px rgb(241 241 241 / 40%);*/
/*    margin-top: 70%;*/
/*    margin-bottom: 80%;*/
/*}*/

/*.sign-right {*/
/*    font-family: 'Sofia Sans', sans-serif;*/
/*    font-weight: bold;*/
/*    font-size: 4.5vw;*/
/*    color: transparent;*/
/*    text-shadow: 0 0 5px rgba(241, 241, 241, 0.4);*/
/*}*/

/*.up {*/
/*    font-family: 'Sofia Sans', sans-serif;*/
/*    font-weight: bold;*/
/*    font-size: 7vw;*/
/*    color: transparent;*/
/*    text-shadow: 0 0 5px rgb(241 241 241 / 40%);*/
/*    line-height: 0;*/
/*    margin-top: 30%;*/
/*    margin-bottom: 10%;*/
